<body>
	<div class="hero-main">
		<div class="container">
		
	<%=render "/users/form"%>
			Test
		</div>
	</div>


	<div class="container pad-section">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2>
				Lorem ipsum dolor sit amet, mazim nonumes referrentur eos et, his suas sonet nemore ei, erat graeco detracto pro eu. Est facilis appetere in. Mea in noluisse forensibus. Ne cum eleifend abhorreant, commodo dissentiunt pri et, solet nominati interesset sea et. Sit eu mentitum salutatus definitiones, inani intellegat eum at, reque volumus gloriatur qui et. Vix assum aperiri equidem ut, an qui omnium tractatos, nec hinc lorem repudiandae ne.
				</h2>
			</div>
		</div>
	</div>
</body>